:root{
  --vermelho: #E50914;
  --preta: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base */
html{
 font-size: 62.5%;
}


html, body{
  background: var(--preta);
  font-family:'Arial', Times, serif;
  color: white;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
}

.cabecalho{
  position: fixed;
  z-index: 1 !important;
  width: 100%;
  transition: 0.3s;
}

.scroll{
  transition: 0.3s;
  background-color: #141414;
}


header .container{
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1.5rem 0;
  justify-content: space-between;
}

.logo{
 width: 15%;
 object-fit: cover;
 margin-right: 3rem;
}

header nav a{
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin-right: 2.5rem;
  transition: 0.3s;
}

header nav a:hover{
  color: #aaa; 
}

.box1{
  display: flex;
  align-items: center;
  text-align: center;
}






/* -----------------série principal ----------------------------*/

.serie-principal{
  font-size: 1.6rem;
  background: linear-gradient( rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('img/capa-70.jpg');
  height: 61rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
}

.logo-serie{
  width: 40%;
  object-fit:contain;
  display: flex;
  align-content: flex-start;
}

.serie-principal .descricao{
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.titulo{
  margin-top: 15%;
  font-size: 4rem;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

.botao{
  background-color: rgba(0,0,0,.50) ;
  border: none;
  color: white;
  margin-right: 0.5rem;
  padding: 1.5rem 3.5rem;
  border-radius: 0.3em;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 0.6rem;
  cursor: pointer;
  transition: 0.1s;
}

.info a{
  text-decoration: none;
  color: #fff !important;
}


.play{
  background-color: white;
  color: black;
}

a{
  text-decoration: none;
  color: #141414;
}

.botao i{
  margin-right: 1rem;
  font-size: 2rem;
}

.botao:hover{
  background-color: #aaa;
}


.container{
  margin-left: 5.5rem;
  margin-right: 1rem;
}

.serie-principal .container{
  width: 70%;
}


.subtitle{
  font-size: 2rem;
  margin-top: 6rem;
}

.subtitle2{
  margin-bottom: 0.5rem;
}


.box-filme{
  height: 100%;
  width: 100%;
  display: block;
  z-index: 0;
  position: relative;
}


.carrossel-filmes{
  margin-top: 0.5rem;
  margin-left: 5.5rem;
}

/* -----------------FOOTER----------------- */

.socials{
  margin-top: 10rem;
  font-size: 3.4rem;
  margin-left: 7.5rem;
  margin-right: 1.5rem;
}

.fa-brands{
  color: #fff;
  margin-right: 3.5rem;
}

.lists{
  display: flex;
  margin-left: 5.5rem;
  margin-bottom: 3rem;
}

.link{
  font-size: 2rem;
  font-weight: 500;
  color: #6E6E6E;
  display: flex;
  margin-right: 10rem;
  margin-block: 2.5rem;
  transition: 0.2s;
}

.link:hover{
  text-decoration: underline;
  color: #6E6E6E;
}

.code{
  margin-top: 3rem;
  padding: 1rem 1rem;
  border: 1px solid #6E6E6E;
  margin-left: 5.5rem;
  font-size: 2rem;
  color: #6E6E6E;
}

.code:hover{
  color: #fff;
}

.copy{ 
  cursor: default;
  font-size: 1.6rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 5.5rem;
  color: #6E6E6E;
}
